.mainFieldContainer {
    width: 100vw;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainField {
    width: 60vw;
    height: 72vh;
    border-radius: 32px;
    background: #2d2d2d;
    box-shadow:
        9px 9px 18px #262626,
        -9px -9px 18px #343434;

    padding-top: calc(2vh);
    padding-bottom: calc(2vh);
    padding-right: calc(2vw);
    padding-left: calc(2vw);
}

.topContainer {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-size: calc(390%);
}

.textAboutProject {
    color: whitesmoke;
    font-size: calc(120%);
}
