.headerContainer {
    width: 100vw;
    height: 15vh;

    background: var(--darkBg);
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.pageName {
    margin: 0;
    color: whitesmoke;

    font-size: calc(3vh);
    font-weight: bold;
    margin-top: 2%;
}

.icon {
    object-fit: contain;
    width: 10%;
    height: 100%;
}

.pageNameContainer {
    height: 100%;
    width: 20%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    transform: translateX(calc(- 100px + 10%));
}

.linkContainer {
    display: flex;
    width: 50%;
    height: 100%;
    margin-left: 15vw;
    justify-content: space-around;
    align-items: center;
}

.headerLink {
    height: 30%;
    width: 15vw;
    color: darkgray;
    font-size: calc(1.5vh);
    font-weight: bold;
    text-decoration: none;
    background: whitesmoke;
    border-radius: 25px;
    text-align: center;
    line-height: 275%;
}

.headerLink:hover {
    color: black;
}
