.dayListContainer {
    width: 10vw;
    height: 85vh;
    min-width: 100px;

    display: auto;
    padding-left: 5px;

    background: rgb(35, 35, 35);
    overflow-y: scroll;
}

ul {
    padding-left: 10%;
    width: 90%;
    margin:0;
    margin-bottom: 35%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.dayListing {
    display: flex;
    width: 69%;
    height: 5vh;
    border-radius: 9px;
    background: linear-gradient(145deg, #292929, #303030);
    box-shadow:
        5px 5px 10px #262626,
        -5px -5px 10px #343434;



    margin-top: 15px;
    padding-left: 16%;
    vertical-align: middle;
    line-height: 5vh;
    color: white;
    text-decoration: 0;
    font-weight: bold;
    font-size: calc(130%);
}
