/* MAIN BODY*/
.mainBodyContainer {
    width: 90vw;
    height: 85vh;
    background: red;

    display: auto;
    padding-left: 5px;

    background: rgb(45, 45, 45);
    overflow-y: scroll;

    transition-duration: 500ms;
}

/*SCROLL BAR */
.mainBodyContainer::-webkit-scrollbar {
    width: 20px;
    /* width of the entire scrollbar */
}

.mainBodyContainer::-webkit-scrollbar-track {
    background: rgb(55, 55, 55);
    /* color of the tracking area */
}

.mainBodyContainer::-webkit-scrollbar-thumb {
    background-color: rgb(45, 45, 45);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgb(65, 65, 65);
    /* creates padding around scroll thumb */
}

/*DAY POST*/
.dayPost {
    width: 80%;
    height: 20vh;
    margin-top: 75px;
    padding: 20px;
    border-radius: 32px;
    background: #2d2d2d;
    box-shadow:
        9px 9px 18px #262626,
        -9px -9px 18px #343434;
}

h1{
font-size: 30px;
color: whitesmoke;
font-weight: bold;

margin: 0;
}

.dayPostText{
font-size: 15px;
color: whitesmoke;
font-weight: 500;


}
